
//===COLORS===
$whiteText-color: #ffffff;
$grayText-color: #999999;
$lightGray-color: #f7f7f7;
$darkText-color: #1f1f1f;
$blueBottom-color: #4480e9;


//===FONT===
$header-size: 25px;
$text-size:16px;
$heavy-line: bold;


//===PADDING===
$padding-end:40px;