.Inline{
   display: inline-block; 
} 
.buttonn{
  border-radius: 30px;
  background-color: #4480e9;
  border: none;
  color: #e6e6e6;
  width: 260px;
  height: 40px;
  text-align: center;
  font-size: 12px;
}
.navStyleBlack{
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: bolder;
  padding: 0px;
  height: 70px;
  .textN{
    color: white;
    padding: 8px 15px;
  }
  .picture{
    padding: 8px 15px;
    width: 200px;
    height: auto;
  }
  .buttonLogIn{
    padding: 8px 20px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    font-size: 12px;
    border-radius: 30px;
  }
  .buttonSignUp{
    padding-top: 7px;
    padding: 8px 20px;
    background-color:rgba(255, 255, 255, 1);
    color:black;
    font-size: 12px;
    border-radius: 30px;
  }
}
.buttonnW{width: 140px;}
.imPages{
  width: 100%;
  height: auto;
}
.RentS-Web{
  .Rents-Logo{
    width:176px;
    height:50px;
  }
  .RentS-Im-Box{
    background-image:url("1519916734.jpg");
    width: 100%;
    height: 560px;
  }
  .RentS-Im-Box1{
    background-image:#C0C0C0;
  }
  .RentS-Im-Box2{
    color: white;
    background-color:#5095fb;	
    width: 100%;
    height: 460px;
    .imPagesB2{
      height: 30px;
      width: auto;
     }
  }
  .RentS-Im-Box3{
    background-color:#e6e6e6;	
    width: 100%;
    height: auto;
  }
  .RentS-Im-Box4{
    background-color:gainsboro;	
    width: 100%;
    height: auto;
    .imPagesB4{
      margin: auto auto;
      height: 50px;
      width: auto;
    }
  }
  .RentS-Im-Box5{
    background-color:#e6e6e6;	
    width: 100%;
    height: 320px;
    .imRxT{
      width: 360px;
      height: auto;
    }
  }
   .RentS-Im-Footer{
    .white, .white a {
      color: #fff;
    }
     background-color: black;
     color:white;
     width: 100%;
     height: 320px;
     a:link {
    color: gainsboro;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #e6e6e6;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #8cadf2;
    background-color: transparent;
    text-decoration: underline;
}

  }
  
  .font-link{
    color: white;
  }
}

@media (max-width: 600px) {
  .text-xs-center{
     text-align: center;
  }
}

@media (max-width: 800px) {
  .text-ls-center{
     text-align: center;
  }
}