.Inline{
   display: inline-block; 
} 
.RequestButton{
  border-radius: 30px;
  background-color: #4480e9;
  border: none;
  color: #e6e6e6;
  width: 260px;
  height: 40px;
  text-align: center;
  font-size: 12px;
}
.ShortButton{width: 140px;}

.NavStyleBlack{
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: bolder;
  padding: 0px;
  height: 70px;
  .navText{
    color: white;
    padding: 8px 15px;
  }
  .navLogo{
    padding: 8px 15px;
    width: 200px;
    height: auto;
  }
  .buttonLogIn{
    padding: 8px 20px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    font-size: 12px;
    border-radius: 30px;
  }
  .buttonSignUp{
    padding-top: 7px;
    padding: 8px 20px;
    background-color:rgba(255, 255, 255, 1);
    color:black;
    font-size: 12px;
    border-radius: 30px;
  }
}

.NavStyleBlack2{
  background-color:rgba(0, 0, 0, 0.5);
  border: none;
  font-weight: bolder;
  padding: 0px;
  height: 70px;
  .navText2{
    color: white;
    padding: 8px 15px;
  }
  .buttonSignUp{
    padding-top: 7px;
    padding: 8px 20px;
    background-color:rgba(255, 255, 255, 1);
    color:black;
    font-size: 12px;
    border-radius: 30px;
  }
}

.imPages{
  width: 100%;
  height: auto;
}
.contEdit{
  margin: 0px;
}
.RentS-Web{
  //Verify Tenants at Light-Speed
  .RentS-Im-Box{
    background-image:url("1519916734.jpg");
    padding-block-end: 215px;
    .boxPanel{
      padding-block-start: 80px;
    }
  }
  //We make leasing simple
  .RentS-Im-Box1{
    padding-block-start: 80px;
    padding-block-end: 54px;
    background-image:#C0C0C0;
    .box1Header{
      font-size: 25px;
      font-weight: bold;
    }
    .box1Text{
      font-size: 16px;
      color: gray;
      font-weight: 100;
      padding-block-start: 1px; 
      padding-block-end: 40px;
    }
    .box1Topic{
      font-size: 18px;
      font-weight: 300;
    }
    .box1Detail{
      padding-block-start: 16px;
      padding-block-end: 40px;
      font-size: 14px;
      color: rgb(70, 70, 70);
      font-weight: 100;
    }
  }
  //We built this for you
  .RentS-Im-Box2{
    color: white;
    background-color:#5095fb;
    .box2Triangle{
      margin-left: auto;
      margin-right: auto;
      width: 0; 
      height: 0; 
      border-left: 25px solid transparent;
      border-right: 25px solid transparent; 
      border-top: 20px solid white;
    }
    .box2Topic{
      margin-left: 10%;
      padding-block-start: 80px; 
      padding-block-end: 20px;  
      font-size: 25px;
      font-weight: normal; 
    }
    .box2Detail{
      margin-left: 10%;
      font-size: 13px;
      padding-block-end: 20px;
    }
    .imPagesB2{
      margin-left: 30%;
      height: 150px;
      width: auto;
      
    }
  }
  //You are in great company
  .RentS-Im-Box3{ 
    padding-block-end: 40px;
    background-color: rgb(241, 210, 168);
    width: 100%;
    height: auto;
    .box3Panel{
      border-radius: 5px;
      text-align: center;
      padding: 30px;
      padding-block-start: 15px;
      width: 300px;
      height: 180px;
      background-color: white;
      font-size:16px;
      color: rgb(11, 158, 11);
      margin: auto;
      vertical-align: text-top;
    }
    .box3Triangle{
      margin-left: 20%;
      width: 0; 
      height: 0; 
      border-left: 16px solid transparent;
      border-right: 16px solid transparent; 
      border-top: 16px solid white;
    }
    .box3Slick{
      padding-block-start: 40px;
      padding-block-end: 40px;
    }
    .box3ImgCircle{
      margin: 15px;
      width: 50px;
      border-radius: 50%;
      margin-left: 17%;
    }
    .box3Name{
      margin-left: 10%; 
    }
  }
  //Our Clients
  .RentS-Im-Box4{
    background-color:gainsboro;	
    padding-block-start: 80px;
    padding-block-end: 80px;
    .box4Header{
      font-size: 25px;
      font-weight: bold;
      padding-block-end: 20px;
    }
    .box4Detail{ 
      padding-block-end: 30px;
      font-size: 14px;
      color: rgb(70, 70, 70);
      font-weight: 100;
    }
    .box4Slick{
      padding-block-start: 40px;
    }
    .imPagesB4{
      margin: auto auto;
      height: 50px;
      width: auto;
    }
  }
  //All-in-one online rental application platform
  .RentS-Im-Box5{
    background-color:#e6e6e6;	
    padding-block-start: 95px;
    padding-block-end: 30px;
    .box5Header{
      font-size: 25px;
      font-weight: bold;
    }
    .box5Detail{ 
      padding-block-start: 16px;
      padding-block-end: 40px;
      font-size: 14px;
      color: rgb(70, 70, 70);
      font-weight: 100;
    }
    .imRxT{
      width: 90%;
      height: auto;
      padding-block-start: 10px;
      padding-block-end: 40px;
    }
  }

  .RentS-Im-Footer{
    padding-block-start: 40px;
     background-color: black;
     color:white;
     .Rents-Logo{
     width:176px;
     height:50px;   
     margin-left: 10%;
     }
     .white, .white a {
      color: #fff;
     }
     a:link {
     color: gainsboro;
     background-color: transparent;
     text-decoration: none;
     }
     a:visited {
     color: #e6e6e6;
     background-color: transparent;
     text-decoration: none;
     }
     a:hover {
     color: #8cadf2;
     background-color: transparent;
     text-decoration: underline;
     }
     .boxFooterHeader{
      font-size: 14px;
      font-weight: bold;
      width: 120px;
      display: inline-block; 
     }
     .boxFooterContact{
     margin: 10px;
     width: 400px;
     height: auto;
     margin-left: 10%
     }
     .boxFooterSocial{
      margin: 10px;
      width: 400px;
      height: auto;
     }
     .boxFooterDetail{
      padding-right: 10px;
      padding-left: 10px;
      display: inline-block; 
     }
     .boxFooterIcon{
       margin-left: 10px;
       width: 15px;
       display: inline-block; 
     }
  }
}

.fontWhite{
  color: white;
}

@media (max-width: 600px) {
  .text-xs-center{
     text-align: center;
  }
  .RequestButton{
    margin-left: auto;
    margin-right: auto;
  }
  .NavStyleBlack{
    background-color: rgb(53, 53, 53);
  }
  .ItemCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .text-ls-center{
     text-align: center;
  }
  .imPages{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .imRxT{
    width: 180px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
